
body {
	margin: 0 auto;
}

nav {
	background-color: #fe7e00;
	position: fixed;
	width: 100%;
}

nav img {
	width:4%;
	height: 4%;
	float: left;
	margin: 2% 0 2% 8%;
}

nav h3 {
	float: left;
	margin: 2.5% 0 2% 0;
	color: white;
}

nav ul{
	float: right;
	display: inline-block;
	list-style-type: none;
	margin: 2%;
	margin-top: 3%;
	margin-right: 5%;
}

nav ul li a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Pangolin';
}

nav ul li {
	display: inline-block;
	padding: 1%;
}

header {
	padding-top: 10%;
	background-color: #fafafa;
	display: inline-block;
}

.search {
	float: right;
	margin-right: 50px;
	text-align: center;
	padding: 10px 30px;
	background-color: #efefed;
	margin-top: 10px;

}

input {
	font-family: 'Pangolin';
	border: none;
	background-color: #efefed;

}

header .left {
	float: left;
	display: inline-block;
	width: 50%
}

header .left img {
	float: left;
	display: inline-block;
	padding-top: 80px;
	width: 90%;
	height: 90%;
}

header .right{
	display: inline-block;
	color: #fe7e00;
	font-size: 2.30em;
	float: right;
	font-family: 'Pangolin';
	line-height: 60px;
	width: 50%;
}

header .right div {
	padding-right: 50px;
	padding-top: 50px;
	height: 90%;
}


.right .search {
	margin-right: 0;
}


.blue {
    background-color: #fe7e00;
    border: none;
    color: white;
    padding: 10px 50px;
    margin-bottom: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.orange {
	background-color: #79CBC6;
	border: none;
	color: white;
	padding: 10px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-bottom: 50px;
}


footer {
	background-color: #79CBC6;
	height: 90px;
}

i {
	color: lightgrey;
}

/*==========================================================================
				MEDIA QUERIES
==========================================================================*/
@media (max-width: 1015px) {
	header .left img {
		padding-top: 30%;
	}
}
@media (max-width: 830px) {
	header .left {
		width: 100%;
	}

	header .left img {
		width: 100%;
		padding-top: 10%;
	}
	header .right {
		width: 100%;
		text-align: center;
	}
	header .right div {
		padding: 0;
	}

}

@media (max-width: 650px) {
	.search {
		display: none;
	}
	nav ul{
		display: none;
	}
	header .right{
		font-size: 2em;
	}

}	